#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 24px;
}

.svgWrap {
  /* height: 800px !important; */
  /* width: 900px !important; */
  background-color: rgb(183, 232, 196) !important;
}