#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgba(211, 211, 211, 0.23);
}

.body {
  display: flex;
  background-color: rgba(211, 211, 211, 0.23);
}

.chakra-ui-light {
  background-color: lightgrey;
}

h2 {
  font-size: 24px;
}

.graphMain {

  position: relative;
  top: 5%;
  right: 25%;
  width: 150%;
  margin: 0 auto;
}

.graphDetailed {

  position: relative;
  top: 150%;
  right: 25%;
  width: 150%;
  margin: 0 auto;
}

.button:active {
  background-color: #3498db;
  color: #fff;
  transform: scale(0.95);
}