#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100%;
  /* background-color: rgba(38, 228, 35, 0.23); */
}

/* .body {
  display: flex;
  background-color: rgba(211, 211, 211, 0.23);
} */

.chakra-ui-light {
  /* background-color: rgba(86, 181, 91, 0.284); */
}

h2 {
  font-size: 24px;
}

.graphMain {

  padding: 100px;
  padding-bottom: 30%;
  margin: 0 auto;
}

.graphDetailed {

  padding: 100px;
  margin: 0 auto;
}

.button:active {
  background-color: #3498db;
  color: #fff;
  transform: scale(0.95);
}